@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
 
}




@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
body {
  background-color: #e4e7ec;
}



h1 {
  font-family: "SF Distant Galaxy";
}



/* computer */
@media screen and (min-width: 600px) {
  body{
    background-color: black;
/*background-image: repeating-linear-gradient(to right, black, black 200px, #343434 200px, #343434 400px);*/
/*So as far as I'm aware, this makes a gradient from black to black that's 200px, then a gradient
from grey to grey that starts at 200px to cut off the black, then goes on for another 200px (which ends it as 400px)*/  
}
h1 {
  color: yellow
}
a {
  color: yellow;
}

p {
  color: white;
}

.navi {
  display: flex;
  justify-content: space-around;
}

.link {
  display: flex;
  justify-content: center;
}
}

@media screen and (max-width: 600px) {
  body{
background-color: black;
  }
h1 {
  color: yellow
}
a {
  color: yellow;
}

p {
  color: white;
}

.navi {
  display: flex;
 flex-direction: column;
 align-items: center;
 
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
}


li{
  color: white;
}
h2{
  color: white;
}
a:hover {
  color:aqua;
}